@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Amoria';
  src: url('./assets/fonts/AMORIA.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Griffiths';
  src: url('./assets/fonts/Griffiths.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aston';
  src: url('./assets/fonts/Aston Script.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gar';
  src: url('./assets/fonts/Gar-A-MondTall.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Will';
  src: url('./assets/fonts/WILLG___.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
